@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Sukhumvit Set';
}

.title {
    background: #C7C2BF;
    background: -webkit-linear-gradient(to right, #C7C2BF 0%, #9D9E9E 25%, #DDDFDF 50%, #838383 80%, #929598 100%);
    background: -moz-linear-gradient(to right, #C7C2BF 0%, #9D9E9E 25%, #DDDFDF 50%, #838383 80%, #929598 100%);
    background: linear-gradient(to right, #C7C2BF 0%, #9D9E9E 25%, #DDDFDF 50%, #838383 80%, #929598 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.select-menu :first-child {
    display: block;
}

.select-menu :last-child {
    display: none;
}

.select-menu:hover :first-child,
.select-menu.selected :first-child {
    display: none;
}

.select-menu:hover :last-child,
.select-menu.selected :last-child {
    display: block;
}

.select-menu:disabled:hover :first-child {
    display: block;
    cursor: no-drop;
}

.select-menu:disabled :last-child {
    display: none;
}

.hud-circle .circle-1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 150px;
}

.hud-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(7%, -4%);
}

.hud-circle .circle-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
}


.hud-circle .circle-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
}

.hud-circle .circle-4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
}


.hud-circle .circle-1::before {
    position: absolute;
    content: "";
    border: 20px solid #99faff;
    height: 150px;
    width: 150px;
    opacity: 0.2;
    border-radius: 100%;
    border-style: dashed;
    border-bottom-style: groove;
    border-top-style: groove;
    -webkit-animation: rotate-center 3s linear both infinite;
    animation: rotate-center 3s linear both infinite;
    animation-iteration-count: 1;
}

.hud-circle .circle-2::before {
    position: absolute;
    content: "";
    border: 5px solid #99faff;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border-style: dashed;
    border-bottom-style: groove;
    border-top-style: groove;
    -webkit-animation: rotate-center 5s reverse linear infinite;
    animation: rotate-center 5s reverse linear infinite;
    animation-iteration-count: 1;
}

.hud-circle .circle-3::before {
    position: absolute;
    content: "";
    opacity: 0.2;
    border: 10px solid #99faff;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    border-style: dashed;
    border-bottom-style: double;
    border-top-style: double;
    border-left-color: transparent;
    border-right-color: transparent;
    -webkit-animation: rotate-center 4s both linear infinite;
    animation: rotate-center 4s both linear infinite;
    animation-iteration-count: 1;
}

.hud-circle .circle-4::before {
    position: absolute;
    content: "";
    opacity: 0.4;
    border: 50px solid #99faff;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    border-style: dashed;
    border-left-style: inset;
    border-right-style: inset;
    border-bottom-color: transparent;
    border-top-color: transparent;
    -webkit-animation: rotate-center 2s reverse linear infinite;
    animation: rotate-center 2s reverse linear infinite;
    animation-iteration-count: 1;
}

.hud-circle .circle-4.small::before {
    border: 2px solid #fff;
    opacity: 1;
    border-style: dashed;
    border-left-style: inset;
    border-right-style: inset;
    border-bottom-color: transparent;
    border-top-color: transparent;
}

.hud-circle {
    -webkit-animation: fade-out 1s both;
    animation: fade-out 1s both;
    animation-delay: 3s;
}

.add-delay-500 {
    animation-delay: 0.5s !important;
}

.add-delay-1000 {
    animation-delay: 1s !important;
}

.add-delay-2000 {
    animation-delay: 2s !important;
}

.light-circle {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.light-circle .line-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-animation: rotate-center-2 5s linear both infinite;
    animation: rotate-center-2 5s linear both infinite;
}

.light-circle .line-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-animation: rotate-center-2 10s linear reverse infinite;
    animation: rotate-center-2 10s linear reverse infinite;
}

#section-5 .hud-circle {
    transform: translate(0%, 36%) rotate3d(50, 0, 1, 75deg) scale(1.3);
}